.left img {
  width: auto;
  height: auto;
}
body {
  background-color: black;
}
.anm {
  color: #34e9fb;
  text-decoration: underline;
  border-right: solid 3px rgba(0, 255, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
  font-size: 28px;
}
.anm {
  animation: animated-text 4s steps(24) 1s 1 normal both,
    animated-cursor 600ms steps(24) infinite;
}
@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 375px;
  }
}
@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 255, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
.icontent {
  font-size: 25px;
  margin: 30px;
  text-align: center;
  color: yellow;
}
.btn {
  width: 200px;
  height: 70px;
  font-size: 40px;
  background-color: black;
  color: yellow;
}
